.pagination {
    width: 100%;
    max-width: 600px;
    margin: 48px -4px 0 -4px;
    display: inline-block;
}

.pagination__space {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination__page {
    width: 42px;
    height: 42px;
    margin: 16px 11px 0 11px;
    background-color: #5CC8F2;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;
    font-size: 18px;
    color: white;
}

.pagination__page p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.pagination__page:hover{
    color: #333333;
}

@media screen and (max-width: 768px) {
    .pagination {
        width: 100%;
        max-width: 600px;
        margin: 24px -4px 0 -4px;
        display: inline-block;
    }

    .pagination__page {
        width: 36px;
        height: 36px;
        margin: 16px 8px 0 8px;
        font-size: 16px;
    }
}