footer {
    width: 100%;
    padding: 20px 6%;
    margin-top: 32px;
    background-color: #333333;
}

.credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credits__api a, .credits__author a {
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
    font-size: 16px;
}

.credits__api a:hover {
    text-decoration: underline;
}

.credits__author a:hover {
    color: #5CC8F2;
}

.credits__author p {
    font-size: 18px;
}

.credits__author a, .credits__author p {
    display: inline-block;
    margin: 0 16px 0 -4px;
}

.credits__author a {
    font-size: 24px;
}

.linkFavorites {
    width: 40px;
    height: 40px;
    background-color: #5CC8F2;
    border-radius: 50%;
    position: fixed;
    top: 16px;
    right: 16px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.linkFavorites__link {                                                                                                                      
    text-decoration: none;
    font-size: 22px;
    color: white;
}