footer {
    width: 100%;
    padding: 20px 6%;
    margin-top: 32px;
    background-color: #333333;
}

.credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credits__api a, .credits__author a {
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
    font-size: 16px;
}

.credits__api a:hover {
    text-decoration: underline;
}

.credits__author a:hover {
    color: #5CC8F2;
}

.credits__author p {
    font-size: 18px;
}

.credits__author a, .credits__author p {
    display: inline-block;
    margin: 0 16px 0 -4px;
}

.credits__author a {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .credits__api a {
        font-size: 14px;
    }

    .credits__author a {
        font-size: 16px;
        margin-right: 0;
    }

    .credits__author p {
        font-size: 14px;
    }
}