.description {
    width: 100%;
    max-width: 800px;
    padding: 24px 2%;
    text-align: center;
    color: #333333;
    display: inline-block;
    margin: 0 -4px -4px 0;
    font-size: 30px;
}

.description h2 {
    font-size: 26px;
    margin: 16px 0;
}

.description p {
    margin: 8px 0;
    font-size: 18px;
}

.description__pokemonList {
    width: 100%;
    padding: 24px 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pokemonList_name {
    max-width: 200px;
    width: 100%;
    padding: 18px 0;
    text-align: center;
    border: 0;
    color: white;
    background-color: #333333;
    font-size: 18px;
    margin: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.pokemonList_name:hover {
    color: #5CC8F2;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .description {
        font-size: 26px;
        padding: 16px 2%;
    }

    .description h2 {
        font-size: 24px;
    }

    .description p {
        font-size: 16px;
    }

    .pokemonList_name {
        max-width: 150px;
        padding: 14px 2%;
        font-size: 16px;
        margin: 0 20px;
    }
}