.linkHome {
    width: 40px;
    height: 40px;
    background-color: #5CC8F2;
    border-radius: 50%;
    position: fixed;
    top: 16px;
    left: 16px;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.linkHome__link{                                                                                                                      
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.titleHome {
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    margin-top: 32px;
}

.cardsFavPokemons {
    width: 100%;
    max-width: 1000px;
    margin-top: 32px;
    display: inline-block;
}

.cardsFavPokemons__space {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.cardsFavPokemons__card {
    width: 100%;
    max-width: 300px;
    background-color: #d94a4aab;
    padding: 10px 2%;
    border-radius: 12px;
    text-align: center;
    position: relative;
    margin-top: 16px;
}

.card__borderImg {
    width: 100%;
    max-width: 140px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: inline-block;
    margin: 16px -4px 0 0;
    position: relative;
}

.card__borderImg img {
    width: 100%;
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.card__content {
    padding: 16px 2%;
}

.card__content h2 {
    font-size: 20px;
    font-weight: 500;
}

.card__content p {
    font-size: 18px;
    font-weight: 400;
}

.card__iconFavorite {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 26px;
    cursor: pointer;
}

@media screen and (max-width: 420px) {
    h1.titleHome {
        font-size: 24px;
    }

    .linkHome {
        width: 32px;
        height: 32px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    
    .linkHome__link{                                                                                                                      
        font-size: 16px;
    }
}